{% extends "Admin/templateAdmin.html.twig" %}
{% block body %}
<h1> Admin modifier GENRE</h1>

    <div class="container center-div shadow mb-5">
        <div class="heading text-center mb-5 text-uppercase text-white "></div>
        <div class="container row d-flex flex-row justify-content-center mb-5">
            <div class="admin-form shadow p-2">
                <form action="{{baseUrl}}/admin/genreUpdate/{{ genre.id }}" method="POST">
                    <div class="form-group">
                        <label for="genre" class="text-light">GENRE:</label>
                        <input type="text" id="genre" name="genre" value="{{ genre.nom }}" class="form-control" autocomplete="off">
                    </div>
                    <input type="submit" class="btn btn-success" name="form_submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
