{% extends "template.html.twig" %}
{% block stylesheets %}
<link rel= "stylesheet" href="{{baseUrl}}/assets/css/AdminStyle.css">
{% endblock %}
{% block body %}
{{ dump(session) }}
    <h1>Bonjour admin</h1>
{% endblock %}