{% extends "template.html.twig" %}
{% block stylesheets %}
<link rel= "stylesheet" href="{{baseUrl}}/assets/css/AdminStyle.css">
{% endblock %}
{% block body %}

    <div class="container center-div shadow mb-5">
        <div class="heading text-center mb-5 text-uppercase text-white "> ADMIN LOGIN PAGE</div>
        <div class="container row d-flex flex-row justify-content-center mb-5 ml-0 mr-0">
            <div class="admin-form shadow p-2 text-center">
                <form action="{{baseUrl}}/admin/log" method="POST">
                    <div class="form-group">
                        <label for=""class="text-light">PSEUDO:</label>
                        <input type="text" name="pseudo" value="" class="form-control" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for=""class="text-light">PASSWORD :</label>
                        <input type="password" name="password" value="" class="form-control" autocomplete="off">
                    </div>

                    <input type="submit" class="btn btn-success" name="form_submit">
                </form>
            </div>
        </div>
    </div>

  {% if error is defined %}
    
        <p class="text-center">{{ error }}</p>
                  
  {% endif %}
    
 

{% endblock %}






