{% extends "Admin/templateAdmin.html.twig" %}

{% block stylesheets %}
<link rel= "stylesheet" href="{{baseUrl}}/assets/css/AdminStyle.css">
{% endblock %}
{% block body %}

 <h1>PAGE ADMIN REALISATEUR</h1>


{% endblock %}