{% extends "template.html.twig" %}

{% block body %}
<div class="container">
        <div class="row">
            {% for actor in actors %}
                <div class="col-centered col-sm-4">
                    <a href="{{baseUrl}}/acteur/{{actor.id}}">
                        <img src="{{baseUrl}}/assets/img/acteurs/{{actor.photo}}" class="float-sm-left img-thumbnail" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
        
        
</div>
{% endblock %}