{% extends "template.html.twig" %}

{% block body %}

	<div class="presentation">
		<header>
			<h2>Titre film</h2>
			<h3>Réalisateur</h3>
		</header>
		<div class="content">
			<img src="https://i.servimg.com/u/f26/19/99/69/81/avatar10.png" class="img_presentation" alt=""/>
			<div class="bloc1">Texte à propos du film owo
			</div>

			<div class="bloc2">
				<p>
				synopsis
				</p>
			</div>

			<div class="clear"></div>

			<div class="histoire">Ecrivez l'histoire de votre personnage. Minimum 15 lignes.</div>
			<img src="https://i.imgur.com/7YZWmOe.png" alt="" class="img_footer_gauche"/>
			<img src="https://i.imgur.com/2pvVQrf.png" alt="" class="img_footer_droite"/>

		</div>
	</div>

{% endblock %}
