{% extends "template.html.twig" %}

{% block body %}

<div class="presentation">
    <header>
        <h2>Titre Film</h2>
        <h3>Reallisateur<h3>
    </header>

    <div class="content">
    <img src="https://i.servimg.com/u/f26/19/99/69/81/avatar10.png" class="img presentation" alt="" />

        <div class="bloc1">Sorti en <span>date</span>et réalisé par <span>réalisateur</span>. C'est un film <span>genre</span> durant environ <span>durée</span>. On peut y trouver les acteurs <span>acteurs ici</span>.
    </div>

    <div class="bloc2">
        <p>Synopsis ici</p>
    </div>

    <div class="clear"></div>

    <div class="histoire">Informations realisateur</div>
</div>

    
{% endblock %}