{% extends "template.html.twig" %}

{% block body %}

<link href="https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative|Open+Sans" rel="stylesheet" />
<div class="astree-cadre">
    <div class="img_acteur"></div>

    <span class="astree-nom">Prénom<br>Nom</span>

        <div class="astree-titre">Identité</div>

        <ul>
        <li><span>Dates de naissance :</span> 0000-00-00</li>
        <li><span>Rôles:</span> Machin dans tel truc</li>
        <li><span>Films:</span> Trucmuche</li>
        </ul>

        <div class="astree-titre">Biographie</div>
        <p>Lorem ipsum dolor sit amet, consectetur asipiscing elit.</p>
        <p><a href="#">Clique ici</a></p>

        <div class="astree-titre">Visible aussi dans...</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

{% endblock %}