{% extends "template.html.twig" %}

{% block body %}
    <div class="container">
		<h1 class="font-weight-bold text-center text-danger display-1">404</h1>
        <p class="text-center text-danger display-4">La page que vous avez demandé n'existe pas.</p>
	</div>	
{% endblock %}

